html {
    background-color: beige;
}

table, th, td {
    border-bottom: 1px solid darkseagreen;
    border-collapse: collapse;
    text-align: center;
  }
  tr:nth-child(even) {background-color: rgb(176, 215, 176);}
  tr:nth-child(odd) {background-color: blanchedalmond;}
  tr:hover {background-color: rgb(114, 187, 189);}
  tr:nth-child(1) {color:black; background-color: rgb(114, 187, 189);}

  .editbutton:link, .editbutton:visited {
background-color: rgb(206, 232, 206);
color: black;
border: 2px solid olive;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
width: 42px;
}

.editbutton:hover, .editbutton:active {
background-color: rgb(176, 215, 176);
}

.deletebutton:link, .deletebutton:visited {
background-color: rgb(241, 206, 212);
color: black;
border: 2px solid olive;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
width: 42px;
}

.deletebutton:hover, .deletebutton:active {
background-color: red;